site_name: 演出曲目册 / Concert Songbook
site_url: https://stubbornleaf.github.io/jiuweideshi-songbook/
theme:
  name: material
  language: zh
  features:
    - navigation.instant
    - navigation.sections
    - navigation.top
    - toc.integrate
    - content.code.copy

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.details

nav:
  - 首页: index.md
  - 曲目:
      - 01 歌名A: songs/01-歌名A.md
      - 02 歌名B: songs/02-歌名B.md
      - 03 歌名C: songs/03-歌名C.md
