.md-header {
  background-color: #0f0f0f !important;
  box-shadow: none;
  height: 72px;
}

.md-header__inner {
  height: 72px;
}

.md-header__title {
  font-size: 1.2rem;
  letter-spacing: 0.12em;
  font-weight: 500;
}

.md-tabs {
  display: none;
}
